ArInp.Scr

# Only keep Keil project files, source files, header files, LICENSE, and readme
!MicroOS.uvprojx
!MicroOS.uvoptx
!MicroOS.uvguix.*
!*.c
!*.h
!LICENSE
!readme.md

# Ignore everything else
**/*